.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.btn {
  border-radius: 4px;
  padding: 0.5rem;
  background-color: orange;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #c78101; }

.modal {
  background-color: orange;
  width: 80%; }
  .modal__heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.center {
  text-align: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  position: relative; }

.hide {
  display: none;
  visibility: hidden; }

.margin-small {
  margin: 0.5rem; }

.margin-medium {
  margin: 1rem; }

.marginTop-small {
  margin-top: 0.5rem; }

.marginTop-medium {
  margin-top: 1rem; }

.blogPosts {
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  align-items: center; }

.nav {
  height: 10vh;
  width: 100%;
  background-color: #333;
  color: #f9f9f9;
  font-size: 1.1rem;
  display: flex;
  align-items: center; }
  .nav__list {
    list-style-type: none;
    display: flex;
    margin: 1rem; }
  .nav__item {
    margin: 1rem; }
  .nav__link {
    text-decoration: none;
    color: #f9f9f9; }

.newPost {
  position: absolute;
  top: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
